
/**
 * Override of misc/vertical-tabs-rtl.css.
 */
div.vertical-tabs {
  background: #fff url(../../../images/fc-rtl.png) repeat-y right 0;
}
div.vertical-tabs .vertical-tabs-list {
  float: right;
  margin: 0 0 -1px -100%;
}
div.vertical-tabs ul li.selected a,
div.vertical-tabs ul li.selected a:hover,
div.vertical-tabs ul li.selected a:focus,
div.vertical-tabs ul li.selected a:active {
  border-left-color: #fff;
}
div.vertical-tabs .vertical-tabs-panes {
  margin: 0 265px 0 0;
  padding: 10px 0 10px 15px;
}
