body {
  margin: 0 0 0 0;
}

/**
 * Page title.
 */
#page-title {
  background: #333;
  padding-top: 20px;
}
#aegirheader h1.page-title {
  color: #000;
  margin: 0;
  padding-bottom: 10px;
  font-size: 1.385em;
  font-weight: normal;
  float: left; /* LTR */
}

/**
 * Console.
 */
#console {
  margin: 9px 0 10px;
}

/**
 * Branding.
 */
#aegirheader {
  overflow: hidden;
  padding: 10px 10px 0 10px; /* LTR */
  position: relative;
  background-color: #e0e0d8;
}
#aegirheader div.breadcrumb {
  font-size: 0.846em;
  padding-bottom: 5px;
}
#aegirheader div.block {
  position: relative;
  float: right; /* LTR */
  width: 240px;
  padding-left: 10px; /* LTR */
  background: #333;
}
#aegirheader div.block form label {
  display: none;
}
#aegirheader div.block form div.form-item {
  float: left; /* LTR */
  border: 0;
  margin: 0;
  padding: 0;
}
#aegirheader div.block form input.form-text {
  width: 140px;
  margin-right: 10px; /* LTR */
}
#aegirheader div.block form input.form-submit {
  text-align: center;
  width: 80px;
}
div.breadcrumb {
  float:left;
}

#page-title {
  background: inherit;
  padding-top: 0px;
}
.header-layout .region--branding {
  margin-bottom: 0px;
}
a.tabledrag-handle .handle {
  height: 25px;
  margin: -0.4em 0.5em;
  padding: 0.42em 1em;
  width: 13px;
}
#main_menu {
  height: 30px;
}
#main-menu {
  float: right;
}
#hosting-platform-info,
#hosting-server-info,
#hosting-site-info {
  float: left;
  width: 60%;
}
#hosting-task-list {
  float: left;
  width: 40%;
}
#hosting-server-info label:after,
#hosting-site-info label:after,
#hosting-site-edit-info label:after {
  content: ': ';
}
#hosting-server-edit-info label,
#hosting-site-edit-info label {
  position: relative;
}
h1.page-title span.label:after {
  content: ': ';
}
#hosting-task-info .form-item,
#hosting-server-info .form-item,
#hosting-platform-info .form-item,
#hosting-site-info .form-item,
.form-item {
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}
.core-layout .region--highlighted {
  margin-bottom: 10px;
}

#hosting-server-info label::after,
#hosting-client-info label::after,
#hosting-site-edit-info label::after,
#hosting-platform-info label::after,
#hosting-package-info label::after,
#hosting-site-info label::after,
#hosting-task-info label::after {
  content: ': ';
}
